.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand{:href => "/"} 
        %img.logo{:src => "//assets.leaderbeerd.com/images/logo.png"}
        Leaderbeerd

.row
  .span10.offset2
    .hero-unit
      %h1 Leaderbeerd
      %p Check in your beers on Untappd.  Find out how much drunker than your friends you are with Leaderbeerd.
      %p
        %a.btn.btn-primary.btn-large{:href => "/users/oauth"} Get Started