!!!
%html
  %head
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi" }
    :javascript
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart', 'geochart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      function drawChart() {

        // Create the data table.
        
        var overview_data = google.visualization.arrayToDataTable(
          #{@count_by_day_data.to_json}        
        );
        
        var count_series = {
          targetAxisIndex: 0,
          type: 'bars'
        };
        var sum_series = { 
          targetAxisIndex: 1,
          type: 'line'
        };
        
        var overview_options = {
          title: 'Beers',
          series: {
            0: count_series,
            1: count_series,
            2: count_series,
            3: count_series,
            4: sum_series,
            5: sum_series,
            6: sum_series,
            7: sum_series
          },
          vAxes: [
            { title: "Daily Count"},
            { title: "Running Total"}
          ]
        };

        var overview_chart = new google.visualization.LineChart(document.getElementById('overview_chart'));
        overview_chart.draw(overview_data, overview_options);
        
        var geo_data = google.visualization.arrayToDataTable(#{@geo_data.to_a.to_json});
        var geo_chart = new google.visualization.GeoChart(document.getElementById('geo_chart'));
        geo_chart.draw(geo_data, {});
      }

  %body
    #overview_chart{:style => "width: 100%; height: 600px"}
    #geo_chart{:width=>"400px", :height => "300px"}
    